/* 1 메인화면 영역*/
section {}
section .main_bg {
    background: url(../images/bg/1.main_bg_end.jpg) no-repeat center;
    width:1440px; margin:0 auto; background-size: cover;
}
section .main_bg .main {
    width:1200px; height:1402px;
    margin: 0 auto;
}
section .main_bg .main .main_title{
    margin: px 0 0 120px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
section .main_bg .main .main_title .title_head {
    
}
section .main_bg .main .main_title .title_head p {
    color:#fff;
    padding-top:44px;
    font-size:1.333rem; line-height: 50px;
    
}
section .main_bg .main .main_title .title_head h1 {
    color:#fff;
    font-size: 3.157rem;
    margin: 20px 0 20px 0;
    

}
section .main_bg .main .main_title .title_head h2 {
    color:#fff;
    font-size:2.369rem;
}
section .main_bg .main .main_title img {
    width:150px; height: 150px;
    position: absolute;
    left:400px;
    top:80px; 
}
section .main_bg .main .company_pr {
    width:1114px; height:795px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    
}
section .main_bg .main .company_pr .pr1 {
    width:355px; height:223px;
    margin-top: 36px;
}
section .main_bg .main .company_pr .pr2 {
    width:355px; height:223px;
    position: relative;
}
section .main_bg .main .company_pr .discovery_title {
    width:708px; height:437px;
    position: absolute;
    right:550px; top:600px;
}
section .main_bg .main .country {
    width:1200px; 
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
section .main_bg .main .country li {
    color:#fff;
    border: 2px solid#fff;
    margin: 50px 10px;
    font-size: 1.777rem;
}
section .main_bg .main .reservation_go {
    background: #f2c230;
    width:363px; height:86px;
    text-align: center;
    border-radius: 50px;
    margin: 60px 0 0 837px;
    padding-top: 25px;
}
section .main_bg .main .reservation_go a {}
section .main_bg .main .reservation_go a span {
    font-size: 1.777rem;
    color:#fff;
    text-shadow: 2px 2px 2px #000;
    font-family: 'Noto Sans KR', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');;
    font-weight: 600;
}
section .main_bg .main .reservation_go a img {
    width:20px; height:20px;
}
/* 2 탐험지도 영역 */
section {}
section .map_bg {
    background: url(../images/bg/2.map_bg.jpg) no-repeat center;
    background-size: contain;
    width:1200px; height:1500px;
    margin: 0 auto;
    position: relative;
}
section .map_bg .map_bg_top {
    height: 50px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
section .map_bg .map_bg_top span {
    font-size: 1.333rem;
    margin: 100px 0 0 20px;
    font-family: 'Nanum Brush Script', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
    font-weight: 600;
}
section .map_bg .map_bg_top img {
    width: 50px; height: 50px;
    margin-top: 100px;
}
section .map_bg h1 {
    color:#591202;
    text-align: center;
    padding-top: 50px;
    font-size: 3.157rem;
    margin: 20px 0 10px 0;
}
section .map_bg h2 {
    color:#bf3e0f;
    text-align: center;
    font-size: 3.157rem;
}
section .map_bg .reservation_go {
    background: #f2c230;
    width:363px; height:86px;
    text-align: center;
    border-radius: 50px;
    margin: 60px 0 0 837px;
    padding-top: 25px;
    position:absolute;
    bottom: 40px; right:150px;
}
section .map_bg .reservation_go a {}
section .map_bg .reservation_go a span {
    font-size: 1.777rem;
    color:#fff;
    text-shadow: 2px 2px 2px #000;
    font-family: 'Noto Sans KR', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');;
    font-weight: 600;
}
section .map_bg .reservation_go a img {
    width:20px; height:20px;
}
/* 3 행복특전 영역*/
section {}
section .merit_bg {
    background: url(../images/bg/3.bg.jpg) no-repeat center;
    width:1440px; height:1870px ;margin:0 auto; background-size: cover;
}
section .merit_bg .merit_top {
    height: 130px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
section .merit_bg .merit_top img {
    width:70px; height:70px;
    margin-top: 100px;
}
section .merit_bg .merit_top span {
    font-size: 1.333rem;
    margin: 100px 0 0 20px;
    font-family: 'Nanum Brush Script', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
    font-weight: 600;
}
section .merit_bg h1 {
    color:#591202;
    text-align: center;
    padding-top: 20px;
    font-size: 3.157rem;
    margin: 20px 0 10px 0;
}
section .merit_bg h2 {
    color:#591202;
    text-align: center;
    font-size: 3.157rem;
}
section .merit_bg p {
    text-align: center;
    color:#bf3e0f;
    text-align: center;
    font-size: 1.333rem;
    margin: 20px 0 10px 0;
    line-height: 50px;
}
section .merit_bg .merit_contents {
    width: 1200px; 
    margin: 0 auto;
}
section .merit_bg .merit_contents .contents {
    background: #fff;
    width: 1200px; height:173px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;

}
section .merit_bg .merit_contents ul li {
    color:#591202;
    font-size: 1.777rem;
    padding: 0 70px 0 30px ;
}
section .merit_bg .merit_contents ul li img {
    width:150px; height:150px;
}
section .merit_bg .merit_contents ul li h3 {
    color:#591202;
    font-size: 1.777rem;
    text-align: left;
    margin-bottom: 15px;
}
section .merit_bg .merit_contents ul li span {
    color:#591202;
    font-size: 1.333rem;
    text-align: left;
    line-height: 30px;
}
section .merit_bg .reservation_go {
    background: #f2c230;
    width:363px; height:86px;
    text-align: center;
    border-radius: 50px;
    padding-top: 25px;
    margin: 0 auto;
    margin-top: 100px;
}
section .merit_bg .reservation_go a {}
section .merit_bg .reservation_go a span {
    font-size: 1.777rem;
    color:#fff;
    text-shadow: 2px 2px 2px #000;
    font-family: 'Noto Sans KR', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');;
    font-weight: 600;
}
section .merit_bg .reservation_go a img {
    width:20px; height:20px;
}
/* 4 여행지소개 영역 */
section {}
section .travel_intro {
    background: url(../images/bg/4.bg.jpg) no-repeat center;
    width:1440px; height:2300px; margin:0 auto; background-size: cover;
}
section .travel_intro .trav_int_top {
    height: 130px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
section .travel_intro .trav_int_top img {
    width:70px; height:70px;
    margin-top: 100px;
}
section .travel_intro .trav_int_top span {
    font-size: 1.333rem;
    margin: 100px 0 0 20px;
    font-family: 'Nanum Brush Script', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
    font-weight: 600;
}
section .travel_intro h1 {
    color:#591202;
    text-align: center;
    padding-top: 20px;
    font-size: 3.157rem;
    margin: 20px 0 10px 0;
}
section .travel_intro h2 {
    color:#591202;
    text-align: center;
    font-size: 3.157rem;
}
section .travel_intro p {
    text-align: center;
    color:#bf3e0f;
    text-align: center;
    font-size: 1.333rem;
    margin: 20px 0 10px 0;
    line-height: 50px;
}
section .travel_intro .travel_contents {
    width:1200px;
    text-align: center;
    margin: 0 auto;
}
section .travel_intro .travel_contents ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
section .travel_intro .travel_contents ul li {
    display: block;
    width: 590px; height:570px;
    
}
section .travel_intro .travel_contents ul li img {
    width:590px; height:390px;
    margin-bottom: 30px;

}
section .travel_intro .travel_contents ul li span {
    font-size: 2.369rem;
    color:#591202;
    
    }
section .travel_intro .travel_contents ul li em {
    font-size: 2.369rem;
    display: block;
    color:#bf3e0f;
}
section .travel_intro .reservation_go {
    background: #f2c230;
    width:363px; height:86px;
    text-align: center;
    border-radius: 50px;
    padding-top: 25px;
    margin: 0 auto;
}
section .travel_intro .reservation_go a {}
section .travel_intro .reservation_go a span {
    font-size: 1.777rem;
    color:#fff;
    text-shadow: 2px 2px 2px #000;
    font-family: 'Noto Sans KR', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');;
    font-weight: 600;
}
section .travel_intro .reservation_go a img {
    width:20px; height:20px;
}
/* 5 주요숙소 영역 ----> 여기할차례   */
section {}
section .hotel_intro {}
section .hotel_intro .hotel_int_top {}
section .hotel_intro .hotel_int_top span {}
section .hotel_intro .hotel_int_top span img {}
section .hotel_intro .hotel_int_top h1 {}
section .hotel_intro .hotel_int_top h2 {}
section .hotel_intro .hotel_int_top p {}
section .hotel_intro .hotel_int_top p em {}
section .hotel_intro .contents {}
section .hotel_intro .contents .contents_desc {}
section .hotel_intro .contents .contents_desc .contents1 {}
section .hotel_intro .contents .contents_desc .contents1 .content1_left {}
section .hotel_intro .contents .contents_desc .contents1 .content1_left em {}
section .hotel_intro .contents .contents_desc .contents1 .content1_left span {}
section .hotel_intro .contents .contents_desc .contents1 img {}
section .hotel_intro .reservation_go {}
section .hotel_intro .reservation_go a {}
section .hotel_intro .reservation_go a span {}
section .hotel_intro .reservation_go a img {}
/* 6 체험영상 영역  */
section {}
section .youtube_bg {}
section .youtube_bg .content {}
section .youtube_bg .content h1 {}
section .youtube_bg .content h2 {}
section .youtube_bg .content video {}
section .youtube_bg .content p {}
section .youtube_bg .content span {}
section .youtube_bg .reservation_go {}
section .youtube_bg .reservation_go a {}
section .youtube_bg .reservation_go a span {}
section .youtube_bg .reservation_go a img {}
/* 7 여행 후기 영역 */
section {}
section h1 {}
section h2 {}
section .review_bg {}
section .review_bg .review1 {}
section .review_bg .review1 p {}
section .review_bg .review1 span {}
section .review_bg .rvw_more {}
section .review_bg .rvw_more span {}
section .review_bg .rvw_more span img {}
section .travel_select {}
section .travel_select .select {}
section .travel_select .select h3 {}
section .travel_select .select form {}
section .travel_select .select form fieldset {}
section .travel_select .select form fieldset legend {}
section .travel_select .select form fieldset ul {}
section .travel_select .select form fieldset ul li {}
section .travel_select .select form fieldset ul li label {}
section .travel_select .select form fieldset ul li label #s1 {}
section .travel_select .select form fieldset ul li label span {}
section .travel_select .select form fieldset ul li label #s2 {}
section .travel_select .select form fieldset ul li label #s3 {}
section .travel_select .reservation_go {}
section .travel_select .reservation_go a {}
section .travel_select .reservation_go a span {}
section .travel_select .reservation_go a img {}